<% content_for['title'] = 'asdfasdfd' %>


<h1>hello from foo#index!</h1>

<h2><%= new Date() %></h2>

<p>
  <h3>Params</h3>
  <pre><%= debug(params()) %></pre>
</p>

<b><%= params('q') %></b>

<p>
  <%= self.bacon %>
</p>

<p>
  <pre><%= debug(env) %></pre>
</p>